groups:
  - name: failover
    rules:
      - alert: PrimaryPrometheusDown
        expr: up{instance="{{ primary_private_ip }}:9090"} == 0
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Primary Prometheus is DOWN"
          description: "Prometheus instance {{ primary_private_ip }}:9090 is not responding."
